<%- include('../partials/header') %>

<h1>View Calendars</h1>
<ul>
    <% if (typeof calendars !== 'undefined' && calendars.length > 0) { %>
        <% calendars.forEach(function(calendar) { %>
            <li>
                <input type="checkbox" id="cal<%= calendar._id %>" name="calendar" value="<%= calendar._id %>">
                <label for="cal<%= calendar._id %>"><%= calendar.name %></label>
            </li>
        <% }); %>
    <% } else { %>
        <p>No calendars found. Add a new calendar.</p>
    <% } %>
</ul>
<button onclick="window.location.href='/'">Home Page</button>
<button onclick="window.location.href='/edit-calendars'">Add/Edit Calendar</button>

<%- include('../partials/footer') %>
